@font-face {
  font-family: "montreal medium";
  src: url(../fonts/PPNeueMontreal-Medium.otf);
}
@font-face {
  font-family: "montreal bold";
  src: url(../fonts/PPNeueMontreal-Bold.otf);
}
@font-face {
  font-family: "satisfice";
  src: url(../fonts/Satisfice\ Demo.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
a {
  text-transform: uppercase;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  background-color: #081820;
}

.nav_show {
  top: 0;
}

.nav_hide {
  top: -100%;
}

::-moz-selection {
  background-color: #88c070;
  color: #081820;
}

::selection {
  background-color: #88c070;
  color: #081820;
}

.close_button {
  background-image: url("../icons/navbar_toggle.svg");
  background-size: cover;
  height: 50px;
  width: 50px;
  background-position: center center;
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  z-index: 9999;
}

.navbar {
  background-color: #081820;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 1.55s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 150;
}
.navbar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}
.navbar nav a {
  font-size: 96px;
  text-decoration: none;
  color: #e0f8d0;
  font-family: "satisfice";
  font-weight: 500;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  letter-spacing: 2px;
  position: relative;
}
.navbar nav a:before {
  content: "";
  position: absolute;
  height: 5px;
  background-color: #88c070;
  top: 50%;
  transform: translateY(-50);
  left: -10%;
}
.navbar nav a:hover {
  color: #88c070;
  transform: scale(1.2);
}
.navbar nav a:nth-child(2) {
  position: relative;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}
.navbar nav a:nth-child(2)::after {
  content: "";
  background-image: url("../icons/heart.svg");
  height: 80px;
  width: 80px;
  background-size: cover;
  position: absolute;
  top: -40px;
  right: -40px;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}
.navbar nav a:nth-child(2):hover {
  transform: scale(1.2);
}
.navbar nav a:nth-child(2):hover::after {
  top: -60px;
  right: -60px;
  transform: scale(1.2);
}
.navbar .socials {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}
.navbar .socials a {
  font-family: "satisfice";
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin: 24px;
  transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}
.navbar .socials a:hover {
  color: #88c070;
}

.header {
  padding: 60px;
  display: flex;
  flex-direction: column;
  height: 90vh;
  position: relative;
  margin-bottom: 128px;
}
.header h2 {
  font-family: "montreal medium";
  font-weight: 500;
  font-size: 64px;
  color: #e0f8d0;
}
.header h1 {
  font-family: "satisfice";
  font-size: 128px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #88c070;
  padding-top: 12px;
}
.header p {
  font-size: 64px;
  font-family: "montreal medium";
  font-weight: 500;
  color: #e0f8d0;
}
.header p span {
  font-family: "satisfice";
  font-weight: 500;
  letter-spacing: 2px;
  color: #88c070;
}
.header .bottom {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 128px;
  margin-bottom: 128px;
}
.header .bottom h2 {
  font-family: "satisfice";
  font-weight: 500;
  letter-spacing: 2px;
  color: #e0f8d0;
  font-size: 128px;
}
.header .nav_arrow {
  display: none;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.header .nav_arrow:hover {
  transform: translateX(-50%) scale(1.2);
}

.container {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
}

.part_1,
.part_2 {
  position: relative;
  height: auto;
}
.part_1::before,
.part_2::before {
  content: "";
  position: absolute;
  width: calc(100vw - 120px);
  margin-left: 60px;
  height: 1px;
  background-color: #e0f8d0;
}
.part_1::after,
.part_2::after {
  content: "";
  position: absolute;
  width: calc(100vw - 120px);
  margin-left: 60px;
  height: 1px;
  background-color: #e0f8d0;
  bottom: 0;
}

.title,
.title_2 {
  font-size: 12vw;
  position: relative;
  color: #e0f8d0;
  display: flex;
  margin: 0;
  will-change: transform;
  font-family: "satisfice";
  padding-top: 48px;
  font-weight: 500;
  text-transform: uppercase;
}
.title img,
.title_2 img {
  width: 140px;
  height: 160px;
  margin-left: 40px;
  margin-right: 40px;
}

.works {
  display: flex;
  flex-direction: column;
  padding: 60px;
  min-height: 120vh;
  align-items: space-between;
}
.works .column {
  display: flex;
  flex-direction: row;
}
.works .left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.works .left .section_element {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  margin-bottom: 64px;
}
.works .left .section_element p:first-child {
  color: #88c070;
  font-family: "montreal medium";
  font-weight: 500;
  margin-right: 24px;
  transition: color 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}
.works .left .section_element p:nth-child(2) {
  font-family: "satisfice";
  font-weight: 500;
  font-size: 96px;
  line-height: 55px;
  color: #e0f8d0;
  z-index: 5;
  transition: color 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}
.works .left .section_element img {
  height: 80px;
  width: 80px;
  margin-left: -40px;
  margin-bottom: 30px;
  transition: transform 2s cubic-bezier(0.16, 1, 0.3, 1);
}
.works .left .section_element:nth-child(even) {
  padding-left: 128px;
}
.works .left .section_element:hover p:first-child {
  color: #e0f8d0;
}
.works .left .section_element:hover p:nth-child(2) {
  color: #88c070;
}
.works .left .section_element:hover img {
  transform: rotate(360deg);
  filter: brightness(0) invert(1);
}
.works .right {
  width: 50%;
}
.works .right img {
  background-color: grey;
  width: 33vw;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works .right img:hover {
  filter: url(#turbulence);
}
.works .right p {
  opacity: 0;
}
.works .right .line_1 {
  width: 33vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}
.works .right .line_1 #project_title {
  font-family: "satisfice";
  font-size: 32px;
  color: #e0f8d0;
  letter-spacing: 1px;
}
.works .right .line_1 #project_date {
  font-family: "montreal medium";
  color: #88c070;
  font-size: 16px;
}
.works .right .line_2 {
  font-size: 16px;
  font-family: "montreal medium";
  color: #e0f8d0;
}
.works .cta {
  font-size: 24px;
  font-family: "montreal medium";
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 54px;
  width: auto;
  color: #e0f8d0;
  border: 1px #88c070 solid;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}
.works .cta span {
  font-family: "satisfice";
  color: #88c070;
}
.works .cta:hover {
  color: #081820;
  background-color: #88c070;
}
.works .cta:hover span {
  color: #e0f8d0;
}

/* --------------------------------- button --------------------------------- */
.button_container {
  position: relative;
}

.button {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: solid 1px #88c070;
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.button .button-text {
  position: absolute;
  transform: rotate(-45deg);
}

.button .foreground-text {
  opacity: 0;
  z-index: 1;
  color: #f7f7f7;
}

.button::after {
  content: "";
  position: relative;
  z-index: 0;
  width: 0;
  height: 0;
  background-color: #88c070;
  transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

@media (hover: hover) {
  .button:hover {
    border-color: transparent;
  }
  .button:hover::after {
    width: 100%;
    height: 100%;
  }
  .button:hover .button-text.foreground-text {
    opacity: 1;
  }
}
.about {
  padding: 60px;
  display: flex;
  flex-direction: column;
}
.about .top,
.about .bottom {
  display: flex;
  flex-direction: column;
}
.about .top h2,
.about .bottom h2 {
  font-family: "satisfice";
  font-size: 64px;
  color: #e0f8d0;
}
.about .top h2 span,
.about .bottom h2 span {
  color: #88c070;
}
.about .top p,
.about .bottom p {
  font-size: 24px;
  color: #e0f8d0;
  font-family: "montreal medium";
  width: 40%;
  text-align: justify;
}
.about .bottom {
  align-items: flex-end;
  margin-top: 68px;
}
.about .cta {
  margin-top: 64px;
  font-size: 24px;
  font-family: "montreal medium";
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 54px;
  width: auto;
  color: #e0f8d0;
  border: 1px #88c070 solid;
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 1.2s cubic-bezier(0.16, 1, 0.3, 1);
}
.about .cta span {
  font-family: "satisfice";
  color: #88c070;
}
.about .cta:hover {
  color: #081820;
  background-color: #88c070;
}
.about .cta:hover span {
  color: #e0f8d0;
}

.noise {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  background: transparent url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  -webkit-animation: bg-animation 0.6s infinite;
          animation: bg-animation 0.6s infinite;
  opacity: 0.9;
  visibility: visible;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@-webkit-keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
#svg_turb {
  position: absolute;
  top: -100%;
}

.footer_section {
  padding-left: 60px;
  padding-right: 60px;
}
.footer_section footer {
  width: 100%;
  border-top: 1px #e0f8d0 solid;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 120px;
}
.footer_section footer a {
  margin: 24px;
  font-family: "satisfice";
  color: white;
  letter-spacing: 2px;
  font-size: 36px;
  text-decoration: none;
}
.footer_section footer a:hover {
  color: #88c070;
}/*# sourceMappingURL=main.css.map */